.s1 {
  color: #444;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 1rem;
}
.s1:before,
.s1:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  display: block;
}
.s1:before {
  margin-right: 0.4em;
  background: linear-gradient(-90deg, #888, transparent);
}
.s1:after {
  margin-left: 0.4em;
  background: linear-gradient(90deg, #888, transparent);
}

.li:hover {
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1); /*浮いた時の影*/
  transform: translateY(-3px); /*浮く高さ*/
  transition: 0.3s; /*浮く速さ（秒）*/
}

.sample1 {
  animation-name: fadein;
  animation-duration: 2s;
  /* animation-iteration-count: infinite; */
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sample2 :hover {
  animation-name: fadein;
  animation-duration: 2s;
  /* animation-iteration-count: infinite; */
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.backgroundImageChange {
  height: 60vh;
  width: 100%;
}

@media screen and (max-width: 414px) {
  .backgroundImageChange {
    background-image: url("../pages/AnimeMain/img/mobileBg.png");
    background-size: cover;
  }
  .searchButtonStyle {
    width: 18rem;
  }
}
@media screen and (min-width: 415px) and (max-width: 1024px) {
  .backgroundImageChange {
    background-image: url("../pages/AnimeMain/img/ipadBg.png");
    background-size: cover;
  }
  .selectArea {
    display: flex;
    justify-content: center;
  }
  .searchButtonStyle {
    width: 9rem;
  }
}
@media screen and (min-width: 1025px) {
  .backgroundImageChange {
    background-image: url("../pages/AnimeMain/img/bg.png");
    background-size: cover;
  }
  .selectArea {
    display: flex;
    justify-content: center;
  }
  .searchButtonStyle {
    width: 9rem;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
.typewriterStyle {
  font-family: monospace;
  width: 31ch;
  border-right: 0.08em solid;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(30, end), caret 0.5s step-end infinite;
  font-weight: bold;
  color: black;
}
